/* GENERAL */
.catalogo {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: #f3f3f3;
  min-height: 100vh;
}

/* HEADER */
.catalogo .header {
  background: #c0392b;
  padding: 10px 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  position: relative;
  height: 50px;
}

.catalogo .logo-header {
  font-size: 28px;
  font-weight: bold;
  margin-right: 15%;
}

.catalogo .logo-img {
  position: absolute;
  left: 50px;
  height: 100px;
}

/* NAV */
.catalogo .nav {
  background: #c0392b;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.catalogo .nav button {
  background: rgb(168, 27, 27);
  border: none;
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

.catalogo .nav button:hover {
  background: #d38a84;
}

/* BOTONES GENERALES */
button {
  width: 100%;
  padding: 10px;
  margin-top: 18px;
  border-radius: 25px;
  border: none;
  background: rgb(168, 27, 27);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #d38a84;
  transform: scale(1.03);
}

/* FORMULARIO PQRS */
.pqrs-form {
  background-color: #7e0501;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.pqrs-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

/* HERO */
.catalogo .hero {
  height: 280px;
  background: url('https://images.unsplash.com/photo-1509042239860-f550ce710b93') no-repeat center/cover;
}

/* SECTION */
.catalogo .section {
  padding: 40px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .catalogo .header {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }

  .catalogo .logo-img {
    position: static;
    height: 80px;
  }

  .catalogo .logo-header {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .catalogo .header {
    padding: 20px;
  }

  .catalogo .logo-header {
    font-size: 22px;
  }

  .catalogo .hero {
    height: 180px;
  }

  .catalogo .section {
    padding: 20px;
  }
}