body{
font-family:Arial;
background:#111;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:#1e1e1e;
padding:40px;
border-radius:10px;
width:300px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:#ff6b00;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#ff8c1a;
}