body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #111);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  background: #ffffff;
  padding: 40px;
  width: 380px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.profile-container h1 {
  margin-bottom: 25px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #ffffff;
}

.form-group input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px 0px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.2s;
}
input::placeholder{
    color:white;
    padding-left: 10px;
}

.form-group input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79,70,229,0.2);
}

.save-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #4f46e5;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s;}

.save-btn:hover {
  background: #4338ca;
  border: 2px solid white;
  border-radius: 10px;
}